


body{
	background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
}

nav{
    background-color:rgba(0,0,0,0.5);
    width:100%;
    position: fixed;
    right:0;
    top:0;
    padding:10px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin:0;
    
    
}

nav ul li{

display: inline;

}

nav ul li a:link, nav ul li a:visited{
    color:#FFFFFF;
}

a {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}


li a:hover {
    background-color: #939393;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #eeeeee;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


h1{
    
    font-size: 72px;
    color: #ffffff;
}


h2{
    margin-bottom:5px;
}

h3{ font-size: 24px;
}


section{
    
}


#section-1{
padding: 200px;
    background-color:#8f9f8d;
text-align: center;


}

#section-2{
    
    background-color:#ffffff;
    text-align: center;
padding: 100px;

}


#section-3{
padding: 200px;
    background-color: #9d9c9b;
text-align: center;

}

#section-4{
padding: 200px;
    background-color: #e8cccc;
text-align: center;

}

#section-5{
padding: 200px;
    background-color: #ace0e2;
text-align: center;

}

#icons{ 
padding: 30px;
width:200px;
height:200px;
}

#product{
width: 200px;
height: 300px;
}

#prodtext{
width: 50%;
float: right;
}


video{
	
    display: block;
    margin: 0 auto;
width: 100%;
}

p{
    line-height:1.4em;
    width:100%;

}
a:link, a:visited{
    color:#0192D3;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
